@import './src/assets/Config/Colors';

.inputdate-main {
    position: relative;
    display: block;
    color: $color-white;

    .inputdate-box {
        height: 30px;
        width: 100%;
        font-weight: bold;
        text-align: center;
        outline-style: none;
        border: thin solid $color-white;
        margin-bottom: 7px;
        color: $color-white;
        background: transparent;
    }

    .inputdate-validation {
        position: absolute;
        font-size: 13px;
        color: $color-error;
        margin-top: 3px;
    }
}

input[type="date"]::-webkit-clear-button {
    -webkit-appearance: none;
    display: none;
}

input[type="date"]::-webkit-inner-spin-button{
    display: none;
}